{%- spaceless -%}

    {% if preview.getBody %}
		<section>
	        {%- include 'CCDNForumForumBundle:Post:item_post.html.twig' with {'post': preview} -%}
		</section>
    {% endif %}
	
{%- endspaceless -%}
