{%- spaceless -%}

	{%- macro class(post, topic) -%}

		{%- if post.isDeleted == true -%}
			panel-danger
		{%- else -%}
			{%- if post.id and post.topic -%}
				{%- if post.topic.firstPost -%}
					{%- if post.topic.firstPost.id == post.id -%}
						panel-primary
					{%- else -%}
						panel-default
					{%- endif -%}
				{%- else -%}
					panel-default
				{%- endif -%}
			{%- else -%}
				panel-default
			{%- endif -%}
		{% endif %}

	{%- endmacro -%}

	{%- import _self as post_panel -%}
	{%- set panel = post_panel.class(post, post.topic) -%}


	<div class="media">
		{%- include 'CCDNForumForumBundle:User:Post/Partial/item_post_head.html.twig' with {'post': post } -%}
		{%- include 'CCDNForumForumBundle:User:Post/Partial/item_post_body.html.twig' with {'post': post } -%}
	</div>


{%- endspaceless -%}
