{% extends LayoutTemplate %}



{% block stylesheets %}
    {{ parent() }}
	{% block stylesheets_extra %}
	{% endblock stylesheets_extra %}
{% endblock stylesheets %}



{% block javascripts %}
	{{ parent() }}
	{% block javascripts_extra %}
	{% endblock javascripts_extra %}
{% endblock javascripts %}



{% block tool_bar %}
	{%- spaceless -%}

		<header class="clearfix">
			<nav class="navbar navbar-default" style="background-color:#fff;">

				<div class="container clearfix">
					<div class="row" style="padding:10px 0;">
						<div class="col-md-2">
							{% block sub_title %}
								{%- include 'CCDNForumForumBundle:Common:Layout/SubTitle/sub_title_default.html.twig' -%}
							{% endblock sub_title %}
						</div>

						<div class="col-md-10">
							<div class="row">
								{%- block crumb_trail -%}
									{%- if crumbs is defined -%}
										{%- include 'CCDNForumForumBundle:Common:Layout/crumbs.html.twig' with {'crumbs': crumbs } -%}
									{%- endif -%}
								{%- endblock crumb_trail -%}
							</div>
						</div>
					</div>
				</div>

			</nav>
		</header>

	{%- endspaceless -%}
{% endblock tool_bar %}



{% block sidebar %}
	{%- spaceless -%}

    {{ parent() }}

	{%- endspaceless -%}
{% endblock %}



{% block body %}
	{%- spaceless -%}

    {%- include 'CCDNForumForumBundle:Common:Layout/flashes.html.twig' -%}

	{%- block body_content -%}
	{%- endblock body_content -%}

	{%- block body_footer -%}
		<hr>

		{%- include 'CCDNForumForumBundle:Common:Layout/footer.html.twig' -%}
	{%- endblock body_footer -%}

	{%- endspaceless -%}
{% endblock body %}
