{%- spaceless -%}

	<footer class="row text-center page-footer">
		<div class="col-md-12">
			<p>
				Powered by <a rel="friend" target="_blank" href="http://www.github.com/codeconsortium/CCDNForumForumBundle">CCDNForum Forum Bundle</a>.
				Copyright <a target="_blank" href="http://www.codeconsortium.com/">CodeConsortium</a> 2011 - {{ 'now'|date("Y") }}.
			</p>
			<p>
				Graphics courtesy of <a rel="friend" target="_blank" href="http://glyphicons.com/glyphicons-licenses/">Glyphicons</a>.
				Smileys courtesy of <a rel="friend" target="_blank" href="http://www.freesmileys.org/copyright.php">freesmileys.org</a>
			</p>
		</div>
	</footer>

{%- endspaceless -%}
