parameters:

    # Service Parameters defined in app/config.

services:

    #
    # Category Forms.
    #
    ccdn_forum_forum.form.type.category_create:
        class: %ccdn_forum_forum.form.type.category_create.class%
        arguments:
            - %ccdn_forum_forum.entity.category.class%
            - %ccdn_forum_forum.entity.forum.class%
            - @ccdn_forum_forum.component.helper.role

    ccdn_forum_forum.form.handler.category_create:
        class: %ccdn_forum_forum.form.handler.category_create.class%
        arguments:
            - @event_dispatcher
            - @form.factory
            - @ccdn_forum_forum.form.type.category_create
            - @ccdn_forum_forum.model.category

    ccdn_forum_forum.form.type.category_update:
        class: %ccdn_forum_forum.form.type.category_update.class%
        arguments:
            - %ccdn_forum_forum.entity.category.class%
            - %ccdn_forum_forum.entity.forum.class%
            - @ccdn_forum_forum.component.helper.role

    ccdn_forum_forum.form.handler.category_update:
        class: %ccdn_forum_forum.form.handler.category_update.class%
        arguments:
            - @event_dispatcher
            - @form.factory
            - @ccdn_forum_forum.form.type.category_update
            - @ccdn_forum_forum.model.category

    ccdn_forum_forum.form.type.category_delete:
        class: %ccdn_forum_forum.form.type.category_delete.class%
        arguments:
            - %ccdn_forum_forum.entity.category.class%

    ccdn_forum_forum.form.handler.category_delete:
        class: %ccdn_forum_forum.form.handler.category_delete.class%
        arguments:
            - @event_dispatcher
            - @form.factory
            - @ccdn_forum_forum.form.type.category_delete
            - @ccdn_forum_forum.model.category
