parameters:

    # Service Parameters defined in app/config.

services:

    #
    # Twig Extensions.
    #

    ccdn_forum_forum.component.twig_extension.board_list:
        class: %ccdn_forum_forum.component.twig_extension.board_list.class%
        arguments:
            - @ccdn_forum_forum.model.category
        tags:
            - { name: twig.extension }

    ccdn_forum_forum.component.twig_extension.authorizer:
        class: %ccdn_forum_forum.component.twig_extension.authorizer.class%
        arguments:
            - @ccdn_forum_forum.component.security.authorizer
        tags:
            - { name: twig.extension }
