app/config/parameters.yml
app/config/parameters.ini
logs/
cache/
vendor/
vendor/*
web/bundles/
.idea/
Propel/om/*
Propel/map/*
composer.lock
phpunit.xml
Tests/autoload.php
catalog.xml

*.log
*.db
*.DS_Store
*.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

Tests/Functional/app/config/parameters.yml
