<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php" color="true">
    <testsuites>
        <testsuite name="CCDNForum ForumBundle Test Suite">
            <directory>./Tests</directory>
            <directory>./Tests/Repository</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="../../../../../app" />
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">./Tests</directory>
        </whitelist>
    </filter>
</phpunit>
