{% extends 'CCDNForumForumBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.category.index.layout_template %}

{% block title %}{{- truncDot('ccdn_forum_forum.title.category.index' | trans({}, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- for category in categories -%}
		{%- include "CCDNForumForumBundle:Category:item_category.html.twig" -%}
	{%- else -%}
		<div class="well">{{- 'ccdn_forum_forum.categories.empty' | trans({}, 'CCDNForumForumBundle') -}}</div>
	{%- endfor -%}

	{%- endspaceless -%}

{% endblock body_content %}
