{% extends 'CCDNForumForumBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.category.show.layout_template %}

{% block title %}{{- truncDot('ccdn_forum_forum.title.category.show' | trans({'%category_name%': categories[0].name}, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- for category in categories -%}
		{%- include "CCDNForumForumBundle:Category:item_category.html.twig" -%}
	{%- else -%}
		<div class="well">{{- 'ccdn_forum_forum.categories.empty' | trans({}, 'CCDNForumForumBundle') -}}</div>
	{%- endfor -%}
	
	{%- endspaceless -%}

{% endblock body_content %}
