{%- spaceless -%}

	<div class="forum-topic-transcript">
		<h3>{{- 'topic.transcript' |trans({}, 'CCDNForumForumBundle') -}}</h3>

		<div class="well">
			{%- for key, post in topic.getPosts -%}

				{%- if post.isDeleted == false or is_granted('ROLE_MODERATOR') -%}

					{%- include "CCDNForumForumBundle:User:Post/Partial/item_post.html.twig" -%}

				{%- endif -%}
			{%- endfor -%}
		</div>
	</div>

{%- endspaceless -%}
