{% extends 'base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.user.show.layout_template %}

{% set page_title = topic.getBoard  %}
{%- block sidebar -%}
	{%- spaceless -%}
		{{- parent() -}}

	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block content -%}
    {%- spaceless -%}
    <div class="row">
           <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                     <div class="ibox-content forum-post-container">
                           {%- include 'CCDNForumForumBundle:User:Topic/Partial/topic_actions.html.twig'  -%}
                        </div>
                        <br><br>
                        <hr>
                          {%- for key, post in pager.getItems() -%}
            	              {%- include "CCDNForumForumBundle:User:Post/Partial/item_post.html.twig"  -%}
	                      {%- endfor -%}

                </div>
           </div>
    </div>







	{{- knp_pagination_render(pager) -}}


	{{- knp_pagination_render(pager) -}}

    {%- endspaceless -%}
</div>
</div>

{%- endblock content -%}
