{% extends 'base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.user.show.layout_template %}

{% set page_title = 'forum.topic.show'|trans %}
{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block content -%}
    {%- spaceless -%}

	<section class="row clearfix btn-toolbar">
        {%- include 'CCDNForumForumBundle:User:Topic/Partial/topic_actions.html.twig' -%}
	</section>

	{%- include "CCDNForumForumBundle:User:Topic/Partial/stat_vitals.html.twig" -%}

	{%- if topic.isDeleted or topic.isClosed or topic.isSticky -%}
		{%- include "CCDNForumForumBundle:User:Topic/Partial/stat_mods.html.twig" -%}
	{%- endif -%}

	{{- knp_pagination_render(pager) -}}

	<section class="row clearfix">
	    {%- for key, post in pager.getItems() -%}
	        {%- include "CCDNForumForumBundle:User:Post/Partial/item_post.html.twig" -%}
	    {%- endfor -%}
	</section>

	{{- knp_pagination_render(pager) -}}

    {%- endspaceless -%}
{%- endblock content -%}
