{% extends 'base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.user.show.layout_template %}

{% set page_title = 'forum.topic.show'|trans %}
{%- block sidebar -%}
	{%- spaceless -%}
		{{- parent() -}}
		{%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block content -%}
    {%- spaceless -%}
<div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content animated fadeInRight">

                        <div class="ibox-content forum-post-container">
      {%- include 'CCDNForumForumBundle:User:Topic/Partial/topic_actions.html.twig' -%}
                            <div class="forum-post-info">
                                <h4><span class="text-navy"><i class="fa fa-commenting-o"></i> {{ topic.getTitle }}</span> </h4>
                            </div>
</div>





                    {%- for key, post in pager.getItems() -%}
	        {%- include "CCDNForumForumBundle:User:Post/Partial/item_post.html.twig" -%}
	    {%- endfor -%}

                </div>
            </div>
        </div>
    </div>
</div>




	{%- if topic.isDeleted or topic.isClosed or topic.isSticky -%}
		{%- include "CCDNForumForumBundle:User:Topic/Partial/stat_mods.html.twig" -%}
	{%- endif -%}

	{{- knp_pagination_render(pager) -}}


	{{- knp_pagination_render(pager) -}}

    {%- endspaceless -%}
{%- endblock content -%}
