{% extends 'CCDNForumForumBundle:User:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.category.show.layout_template %}

{% block title %}{{- truncDot('title.category.show' | trans({'%category_name%': categories[0].name}, 'CCDNForumForumBundle'), ccdn_forum_forum.seo.title_length) -}}{% endblock %}

{% block stylesheets_extra %}
	<style type="text/css">
		section {border-bottom:none;}
		footer.page-footer {border-top:1px solid #eee;}
	</style>
{% endblock stylesheets_extra %}


{% block body_content %}

	{%- spaceless -%}

	{%- for category in categories -%}
		{%- include "CCDNForumForumBundle:User:Category/Partial/item_category.html.twig" -%}
	{%- else -%}
		<div class="well">{{- 'category.none' | trans({}, 'CCDNForumForumBundle') -}}</div>
	{%- endfor -%}

	{%- endspaceless -%}

{% endblock body_content %}
