{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.category.user.show.layout_template %}

{%- block title -%}
	{{- 'title.category.show' | trans({'%category_name%': categories[0].name}, 'CCDNForumForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
	{%- spaceless -%}

	{%- for category in categories -%}
		{%- include "CCDNForumForumBundle:User:Category/Partial/item_category.html.twig" -%}
	{%- else -%}
		<section class="row clearfix">
			<div class="well text-center">
				<span class="lead">
					{{- 'category.none' | trans({}, 'CCDNForumForumBundle') -}}
				</span>
			</div>
		</section>
	{%- endfor -%}

	{%- endspaceless -%}
{%- endblock body_content -%}
