div.form-actions .btn {
    margin-right:10px;
}

div.btn-toolbar .btn {
    margin-right:5px;
}

.form-answer .btn {
    margin-right: 10px;
}

.btn i[class^="icon-"] {
    margin-right: 5px;
}

ul.nav i[class^="icon-"] {
    margin-right: 5px;
}

div.control-group div.controls div {
/*    display: inline-block;
    width: 100%;*/
}

div.control-group div.controls div table.table {
    width: 100%;
}

div.control-group div.controls div table.table tbody tr td:nth-child(2) {
    text-align: left;
}

div.control-group div.controls div table.table tbody tr td:nth-child(2) label.control-label {
    text-align: left;
}