div.forum_post {
    display: block;
    margin: 0 0 10px;
    padding: 8px 0 5px;
    border-top: 1px solid #e6e6e6;
    vertical-align:top;
}

div.forum_post div.forum_post_head {
    display:block;
    min-height:65px;
    clear:both;
    float:none;
    vertical-align:top;
}

div.forum_post div.forum_post_head div.forum_post_avatar {
    display: inline-block;
    margin: 2px;
}

div.forum_post div.forum_post_head div.forum_post_toolbar {
    display:block;
    height:1.5em;
    vertical-align: middle;
}

div.forum_post div.forum_post_head div.forum_post_toolbar div.buttons-right {
    text-align: right;
}

div.forum_post div.forum_post_head div.forum_post_toolbar div.buttons-right ul {
    text-align: left;
}

div.forum_post div.forum_post_body {
    display:block;
    clear:both;
    float:none;
}

div.even-post-transcript {
    background-color: #E5E5E5;
    padding: 10px;
}

div.odd-post-transcript {
    background-color: #FFFFF0;
    padding: 10px;
}