button[class~='btn'],
input[class~='btn'],
a[class~='btn'] {
	margin-right:10px !important;
}

a > i[class^="glyphicon"],
input[type="submit"] > i[class^="glyphicon"],
button[type="submit"] > i[class^="glyphicon"],
button.btn > i[class^="glyphicon"],
.dropdown-menu > li > a > i[class^="glyphicon"],
.btn > i[class^="glyphicon"],
.nav i[class^="glyphicon"],
.alert i[class^="glyphicon"],
.badge i[class^="glyphicon"],
.label i[class^="glyphicon"] {
    margin-right: 10px;
}

a.dropdown-toggle > .caret {
	margin-left:5px;
}

:not(.nav) .badge,
:not(.nav) .label {
	margin-right:5px;
}

ul.nav-pills.nav-stacked {
	overflow:hidden;
}


ul.nav-pills.nav-stacked > li > ul.nav-pills.nav-stacked > li > a {
	padding-left:30px;
	text-wrap:none;
	word-wrap:normal;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

ul.nav-pills.nav-stacked > li > ul.nav-pills.nav-stacked:after {
	content: ' ';
	display:block;
	position:absolute;
	top:0px;
	left:20px;
	width:0px;
	height:100%;
	border-left:1px solid grey;
}

ul.nav-pills.nav-stacked > li > ul.nav-pills.nav-stacked > li > ul.nav-pills.nav-stacked > li > a {
	padding-left:45px;
}

ul.nav-pills.nav-stacked > li > ul.nav-pills.nav-stacked > li > ul.nav-pills.nav-stacked:after {
	left:35px;
}
