{%- spaceless -%}

	<ul class="nav nav-pills nav-stacked">

		{%- set route = app.request.attributes.get('_route') -%}

		{%- if topic is not defined -%}
			{%- if post is defined -%}
				{%- set topic = post.getTopic -%}
			{%- endif -%}
		{%- endif -%}

		{%- if board is not defined -%}
			{%- if topic is defined -%}
				{%- set board = topic.getBoard -%}
			{%- else -%}
				{%- if post is defined -%}
					{%- if post.getTopic is defined -%}
						{%- set board = post.getTopic.getBoard -%}
					{%- endif -%}
				{%- endif -%}
			{%- endif -%}
		{%- endif -%}

		{%- if category is not defined -%}
			{%- if board is defined -%}
				{%- set category = board.getCategory -%}
			{%- else -%}
				{%- if topic is defined -%}
					{%- set category = topic.getBoard -%}
				{%- endif -%}
			{%- endif -%}
		{%- endif -%}



		{%- if forum is defined and not null -%}
			{%- if route == 'ccdn_homepage'
				or route == 'ccdn_forum_user_category_index' -%}
				<li class="active">
					<a href="{{- path('ccdn_forum_user_category_index', {'forumName': forumName}) -}}">
						<i class="glyphicon glyphicon-home"></i>
			{%- else -%}
				<li>
					<a href="{{- path('ccdn_forum_user_category_index', {'forumName': forumName}) -}}">
						<i class="glyphicon glyphicon-home"></i>
			{%- endif -%}
						{{- 'link.category.index' |trans({}, 'CCDNForumForumBundle') -}}
					</a>
				</li>

			{%- if route|slice(0,28) != 'ccdn_forum_user_subscription' -%}
				{%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/Partial/user_boards.html.twig' -%}
			{%- endif -%}
		{%- endif -%}

	</ul>

{%- endspaceless -%}
