{% extends 'base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.post.user.show.layout_template %}

{% set page_title = 'forum.post.show'|trans %}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block content -%}
	{%- spaceless -%}

	<section class="row btn-toolbar clearfix">
        <div class="col-md-6">
            {%- include 'CCDNForumForumBundle:User:Topic/Partial/topic_actions.html.twig' -%}
        </div>
	</section>

	{%- include "CCDNForumForumBundle:User:Topic/Partial/stat_vitals.html.twig" -%}

	{%- if topic.isDeleted or topic.isClosed or topic.isSticky -%}
		{%- include "CCDNForumForumBundle:User:Topic/Partial/stat_mods.html.twig" -%}
	{%- endif -%}

	<br>

	<section class="row clearfix">
		{%- include "CCDNForumForumBundle:User:Post/Partial/item_post.html.twig" -%}
	</section>

	{%- endspaceless -%}
{%- endblock content -%}
